<p><%= @post.content %></p>

<% if current_user?(@user) %>
  <%= link_to 'Back', @user %>
  <%= link_to 'Destroy', [current_user, @post], method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>